@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.textstyle {
    font-family: 'Poppins';
}

.refresh {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}